<h1>Course Listing</h1>
  <ul>
    <li>Code: CS1021</li>
    <li>Name: Intorduction to Computer Science</li>
    <li>Description: A through introduction to Computer Science</li>
  </ul>

<ul>
  <li>Code: CS1022</li>
  <li>Name: Intorduction to Artificial Intelligence</li>
  <li>Description: A brief introduction to Artificial Intelligence</li>
</ul>

<ul>
  <li>Code: CS1025</li>
  <li>Name: Intorduction to Object Oriented Programming</li>
  <li>Description: Introduction to Object Oriented Programming</li>
</ul>